<header>
  <div class="header-item" routerLink="">
    <img class="header-logo" src="assets/eshop-logo.png" />
  </div>

  <div class="header-item right-side">
    <nav class="global-nav">
      <a routerLink="men" routerLinkActive="active">MEN</a>
      <a routerLink="women" routerLinkActive="active">WOMEN</a>
      <a routerLink="kids" routerLinkActive="active">KIDS</a>
    </nav>
  </div>

  <div class="header-item">
    <a class="header-button" routerLink="search" routerLinkActive="active">
      <svg class="styled-element" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#BBBBBB" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none"></rect>
        <circle class="styled-stroke" cx="116" cy="116" r="84" fill="none" stroke="#BBBBBB" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
        <line class="styled-stroke" x1="175.4" y1="175.4" x2="224" y2="224" fill="none" stroke="#BBBBBB" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></line>
      </svg>
    </a>

    <a class="header-button" routerLink="bag" routerLinkActive="active">
      <svg class="styled-element" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#BBBBBB" viewBox="0 0 256 256">
        <rect width="256" height="256" fill="none"></rect>
        <rect class="styled-stroke" x="32" y="72" width="192" height="144" rx="8" fill="none" stroke="#BBBBBB" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></rect>
        <path class="styled-stroke" d="M88,104V72a40,40,0,0,1,80,0v32" fill="none" stroke="#BBBBBB" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></path>
      </svg>
    </a>
  </div>
</header>