<main>
  <div class="product-details-container">
    <div class="product-details-image">
      <img [src]="product.imageURL" />
    </div>

    <div class="product-details-info">
      <div class="product-details-label">
        <h1 class="product-details-name">{{ product.name }}</h1>
        <span class="product-details-id">ID: {{ product.id }}</span>
      </div>

      <div class="product-details-price">{{ product.price }}</div>

      <div class="product-details-quantity">
        <select [(ngModel)]="quantity">
          <option [value]="number" *ngFor="let number of arraySequence(product.availableQuantity)">
            {{ number }}
          </option>
        </select>
      </div>

      <button class="product-details-button" (click)="handleAddBag()">Add to bag</button>
    </div>
  </div>
</main>
